@model TwitterSentimentAnalysis.Models.SearchModel
@{
    ViewBag.Title = "Home Page";
}


<div class="search-form d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">

    @using (Ajax.BeginForm("Search", "Home", new AjaxOptions
    {
        UpdateTargetId = "searchResults",
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loading"
    },
        new { @id = "searchForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="input-group">

            @Html.TextBoxFor(model => model.SearchText, new { @class = "form-control bg-light border-0 small", @placeholder = "Search for tweets..." })
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
        <div class="tweet-count">
            <label>Tweet count</label>
            @Html.TextBoxFor(model => model.TweetCount, new { @class = "form-control bg-light border-0 small", type = "number", min = "1", max = "30", @Value = "5" })
        </div>
        <div>
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
    }
</div>

<div id="searchResults" class="col-md-12">

</div>
<div id="loading" class="layout-transparent">

</div>