.body-content,
.search-results {
    margin-top: 20px;
}

.table-responsive .table {
    table-layout: fixed;
    width: 100%;
}

.table-responsive .table th,
.table-responsive .table td {
    width: 33%;
}

.search-form form > div,
.tweet-count > * {
    margin: 5px;
    float: left;
}

.container {
    position: relative;
    min-height: 87vh;
}

.content-wrap {
    padding-bottom: 73px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 73px;
    width: 100%;
    text-align: center;
    background-color: white;
}

#chartContainer {
    height: 380px;
}

.confidence {
    color: #4e73df;
    font-style: italic;
    font-size: 12px;
}

.layout-transparent {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 9999;
    display: none;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.layout-transparent::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 60px;
    height: 60px;
    border-style: solid;
    border: 5px solid #808080;
    border-top-color: #4e73df;
    border-width: 7px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}